{{>header}}
     <!-- Page Content-->
        <div class="container px-4 px-lg-5">
{{#if posts.length}}
  {{#each posts}}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">{{this.title}}</h1>
        <p>{{this.content}}</p>
        <a class="btn btn-primary" href="#!">Read more</a>
      </div>
    </div>
  {{/each}}
{{else}}
  <!-- Handle the else case here if needed -->
{{/if}}
        </div>
{{>footer}}